<html lang="ko">

<head th:fragment="addFragmentHead">
    <meta charset="UTF-8">
    <title>게시글 작성</title>
</head>

<body>
    <div th:fragment="addFragment" class="add container">
        <form id="add-form" action="/add" method="post">
            <fieldset>
                <div class="form-floating mb-3">
                    <input type="text" name="title" class="form-control" id="floatingInput" placeholder="제목">
                    <label for="floatingInput">title</label>
                </div>
                <div class="form-floating">
                    <input type="text" name="content" class="form-control" id="floatingPassword" placeholder="내용">
                    <label for="floatingPassword">content</label>
                    <div class="form-floating mb-3"></div>
                </div>
                <div>
                    <button class="btn btn-primary">업로드</button>
                </div>
            </fieldset>
            <script>
                document.getElementById("add-form").onsubmit = (e) => {
                    if (e.target.title.value == "" || e.target.content.value == "") {
                        e.preventDefault();
                        alert("내용을 비울 수 없습니다.");
                    }
                }
            </script>
        </form>
    </div>
</body>

</html>