<html lang="ko" th:fragment="loginFragmentHead">

<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>

<body>
    <div th:fragment="loginFragment" class="login container">
        <form id="login-form" action="/login" method="post">
            <fieldset>
                <div class="form-floating">
                    <input type="text" name="userId" class="form-control" id="floatingPassword" placeholder="내용">
                    <label for="floatingPassword">ID</label>
                    <div class="form-floating mb-3"></div>
                </div>
                <div class="form-floating">
                    <input type="text" name="password" class="form-control" id="floatingPassword" placeholder="내용">
                    <label for="floatingPassword">Password</label>
                    <div class="form-floating mb-3"></div>
                </div>
                <div>
                    <button class="btn btn-primary">로그인</button>
                    <button id="cancel" class="btn btn-primary">뒤로가기</button>
                </div>
            </fieldset>
        </form>
    </div>
    <script>
        document.getElementById("login-form").onsubmit = (e) => {
            if (!(e.target.title.value && e.target.content.value)) {
                e.preventDefault();
            }
        }
        document.getElementById("cancel").onclick = (e) => {
            alert("is worked!");
            e.preventDefault();
            location.href = "/";
        }
    </script>
</body>

</html>