@charset "UTF-8";

#header {
    display: flex;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

#isLogin {
    display: none;
}

.home-btn {
    float: left;
}

.title {
    margin: 0 180px 0 250px;
}

.regist-btn {
    float: right;
}

.login-btn {
    float: right;
}