@charset "UTF-8";

.board {
    max-width: 800px;
}

.page-bar {
    display: flex;
    justify-content: center;
}

#password {
    position: absolute;
    display: block;
    top: -18px;
    z-index: 1;
    color: red;
    font-size: 13px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    text-decoration: underline;
}

.hover-event:hover {
    cursor: pointer;
    font-weight: 600;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.user-git-address {
    display: none;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.5rem;
    position: absolute;
    background-color: white;
    z-index: 100;
    transform: translate(-10%);
}

.user-name:hover .user-git-address {
    display: block;
}


#add-form {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

#edit-form {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.teaxarea-size {
    overflow: hidden;
}

.ck-editor__editable {
    height: 400px;
}