<html lang="ko">

<head th:fragment="registFragmentHead">
    <meta charset="UTF-8">
    <title>회원 가입</title>
    <link rel="stylesheet" href="/styles/user/regist.css">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css"
        integrity="sha512-34s5cpvaNG3BknEWSuOncX28vz97bRI59UnVtEEpFX536A7BtZSJHsDyFoCl8S7Dt2TPzcrCEoHBGeM4SUBDBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.standalone.min.css"
        integrity="sha512-D5/oUZrMTZE/y4ldsD6UOeuPR4lwjLnfNMWkjC0pffPTCVlqzcHTNvkn3dhL7C0gYifHQJAIrRTASbMvLmpEug=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.min.css"
        integrity="sha512-aQb0/doxDGrw/OC7drNaJQkIKFu6eSWnVMAwPN64p6sZKeJ4QCDYL42Rumw2ZtL8DB9f66q4CnLIUnAw28dEbg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.standalone.min.css"
        integrity="sha512-t+00JqxGbnKSfg/4We7ulJjd3fGJWsleNNBSXRk9/3417ojFqSmkBfAJ/3+zpTFfGNZyKxPVGwWvaRuGdtpEEA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"
        integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.ko.min.js"
        integrity="sha512-L4qpL1ZotXZLLe8Oo0ZyHrj/SweV7CieswUODAAPN/tnqN3PA1P+4qPu5vIryNor6HQ5o22NujIcAZIfyVXwbQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div th:fragment="registFragment">
        <link rel="stylesheet" href="/styles/user/regist.css">
        <form id="regist-form" action="/regist" method="post">
            <fieldset>
                <div>*은 필수 기입사항</div>
                <div class="input-group mb-4">
                    <span class="input-group-text" id="user-name" aria-placeholder="Name" aria-label="name"
                        aria-describedby="name">NAME</span>
                    <input type="text" name="name" class="form-control" id="floatingInput"
                        placeholder="*Name : 영문 4~20/한글 2~10자">
                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text" id="user-id" aria-placeholder="id" aria-label="id"
                        aria-describedby="id">ID</span>
                    <input type="text" name="userId" class="form-control" placeholder="*ID : 3~20자, 영어/숫자만 사용"
                        minlength="3" maxlength="20">

                </div>
                <div class="input-group mb-4">
                    <div id="password">조건을 만족하지 못합니다.</div>
                    <span class="input-group-text" id="user-Password" aria-placeholder="Password" aria-label="Password"
                        aria-describedby="Password">Password</span>
                    <input type="password" id="color" name="password" class="form-control"
                        placeholder="*Password  : 10~30자, 대소문자/숫자/특수문자 포함" minlength="10" maxlength="30">

                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text" id="user-phoneNumber" aria-placeholder="phoneNumber"
                        aria-label="phoneNumber" aria-describedby="phoneNumber">Phone Number</span>
                    <input type="text" name="phoneNumber" class="form-control" placeholder="*Phone Number"
                        maxlength="13">


                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text" id="user-address" aria-placeholder="address" aria-label="address"
                        aria-describedby="address">Address</span>
                    <input type="text" name="address" class="form-control" placeholder="Address : 5~100자" minlength="5"
                        maxlength="100">


                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text" id="user-email" aria-placeholder="email" aria-label="email"
                        aria-describedby="email">E-mail</span>
                    <input type="email" name="email" class="form-control" id="floatingEmail"
                        placeholder="*example@gmail.com (com/org/co.kr/net만 사용)">


                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text" id="user-gitAddress" aria-placeholder="gitAddress"
                        aria-label="gitAddress" aria-describedby="gitAddress">Git Address</span>
                    <input type="text" name="gitAddress" class="form-control">


                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text" id="user-birth">Birth</span>
                    <input type="text" name="date" class="form-control" id="datePicker" autocomplete="off"
                        placeholder="yyyy-mm-dd">
                </div>
                <div>
                    <div>Gender</div>
                    <input type="radio" name="gender" value="1">
                    <label>남성</label>
                    <input type="radio" name="gender" value="2">
                    <label>여성</label>
                    <input type="radio" name="gender" value="0" checked="checked">
                    <label>선택 안함</label>
                </div>
                <div>
                    <button id="regist-btn" class="btn btn-outline-success">가입하기</button>

                </div>
            </fieldset>
            <div class="modal fade" id="regist-fail" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">로그인 실패</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div id="msg">

                        </div>
                        <div class="modal-footer">
                            <button type="button" id="close-btn" class="btn btn-secondary"
                                data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <script src="/script/user/regist.js"></script>
        </form>
    </div>

</body>

</html>